<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	{% capture meta_title %}{% if page.title %}{{ page.title }} — {{ site.app_name }}{% else %}{{ site.page_title }}{% endif %}{% endcapture %}
	{% assign meta_description = page.description | default: site.app_description %}
	<title class="pageTitle">{{ meta_title | strip }}</title>
	<meta name="description" content="{{ meta_description }}">
	<link rel="canonical" href="{{ page.url | absolute_url }}">

	<meta property="og:type" content="website">
	<meta property="og:site_name" content="Artology">
	<meta property="og:title" content="{{ meta_title | strip }}">
	<meta property="og:description" content="{{ meta_description }}">
	<meta property="og:url" content="{{ page.url | absolute_url }}">
	<meta property="og:image" content="{{ '/assets/og.png' | absolute_url }}">
	<meta name="twitter:card" content="summary_large_image">
	<meta name="twitter:title" content="{{ meta_title | strip }}">
	<meta name="twitter:description" content="{{ meta_description }}">
	<meta name="twitter:image" content="{{ '/assets/og.png' | absolute_url }}">

	<link rel="shortcut icon" href="{{ site.app_icon | relative_url }}">

	<!-- Smart App Banner -->
	{% if site.enable_smart_app_banner and site.ios_app_id %}
		<meta name="apple-itunes-app" content="app-id={{ site.ios_app_id }}">
	{% endif %}

	<link rel="stylesheet" href="{{ '/main.css' | relative_url }}">

</head>
